@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

mat-card {
  border: 1px solid #ccc;
}

.primary-button {
  background-color: rgb(23, 139, 185);
  color: white
}

.cancel-button {
  background-color: black;
  color: white;
  margin-left: 10px !important;
}