.container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
mat-card {
  border: 1px solid #ccc;
  margin: auto;
}

.shopping-cart {
  width: 36%;

  height: 600px;
}

.control {
  width: 58%;
  height: 600px;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .shopping-cart {
    height: auto;
    width: 80%;
    margin-bottom: 15px;
  }
  .control {
    width: 80%;
  }
}
